
<section class="section-padding bg-grey" itemprop="articleBody">
  <div class="post">
    Entre os dias 03 e 13 de novembro de 2018 três amigos decidiram colocar o pé, ou melhor, as bicicletas nas estrada. Durante 10 dias viveram um sonho que acabou porque virou realidade... E toda vez que essa magia aconteca muitas portas são abertas, principalmente as da percepcão de um mundo que atualmente a maioria dos pessoas deixou de acreditar.
</p>
  O mapa abaixo foi gerado a partir dos registros do strava, aplicativo (versão gratuíta) utilizado para registrar todos os trechos da viagem. O mapa mostra com detalhes o percurso que realizamos durante esses 10 dias.
</p>
  O início foi em Capivarí do Sul até o Chuí, cidade que faz fronteira com o Uruguai, no Rio Grande do Sul - Brasil.
</p>
  <p align="center">
    <iframe src="https://www.google.com/maps/d/embed?mid=14Uvyxn6VcIhp3T_8ofrOr0z1069aQWN9" width="480" height="320"></iframe>
  </p>

  </div>
</section>
