{% comment %}
*
* image_url composition was changed to allow the use of url location from another
* site as flickr.com, for example
*
{% endcomment %}

<div class="gallery" align="center">
	<ul class="thumbnails">
		{% for image_url in page.gallery2 %}
		{% assign imgIndex = {{forloop.index}} %}
		<img onmouseover="preview2.src=img_{{imgIndex}}.src" name="img_{{imgIndex}}" src="{{ image_url }}">
		{% assign last_img_url2 = image_url %}
		{% endfor %}
	</ul>

	<div class="preview" align="center">
		<br>
		<img name="preview2" src="{{ last_img_url2 }}"/>
		<br>
	</div>

</div>
