{% comment %}
*
* image_url composition was changed to allow the use of url location from another
* site as flickr.com, for example
*
{% endcomment %}

<div class="gallery" align="center">
	<ul class="thumbnails">
		{% for image_url in page.gallery %}
		{% assign imgIndex = {{forloop.index}} %}
		<img onmouseover="preview.src=img{{imgIndex}}.src" name="img{{imgIndex}}" src="{{ image_url }}">
		{% assign last_img_url = image_url %}
		{% endfor %}
	</ul>

	<div class="preview" align="center">
		<br>
		<img name="preview" src="{{ last_img_url }}"/>
		<br>
	</div>

</div>
