
<section class="section-padding bg-grey" itemprop="articleBody">
  <div class="post">
    <p>
    Olá amiges!
    <br><br>
    A algum tempo venho me preparando para realizar um grande sonho. Vivendo de forma simples, com o menor custo possível viajar em bicicleta por diferentes regiões e culturas. Com a mente calma, paz no coracão e muita comida pra manter o corpinho e conseguir me movimentar de um local para o outro.
    <br><br>
    O sonho: VIAGEM em BICICLETA pela AMÉRICA LATINA, que começou em dezembro/2018.
    O ponto de partida for em Ushuaia na Argentina (isla Tierra del Fuego) com o grande desejo de conseguir algum dia chegar ao México recorrendo a maior quantidade possível de países no nosso continente Latino Americano.
    <br><br>
    Uma das formas que utilizo para VIABILIZAR a viagem e SOBREVIVER na estrada é a arte na forma de TATTOO.
    <br><br>
    Se você tem interesse em APOIAR esse viajante que vos escreve. A maneira mais LINDA e GRATIFICANTE é colocando um desenho na pele, TATUANDO, com @tattootortuga (vulgo Diego ou como quiser nomear). Mas também aceito qualquer outro tipo de ajuda, se você tem interesse em ajudar e quer saber como, entrar em contato!!
    <br><br>
    Como já estou na estrada você pode entrar em contato comigo pelas redes sociais, que estão disponíveis aí no link <a href="http://tortugavoladora.life/about/">SOBRE</a>.
    <br><br>
    Bora se riscar!!! Vem conversar
    <br><br>
    Instagram <a href="https://instagram.com/tattootortuga">@tattootortuga</a>
    <br><br>
    As vezes levo um tempinho pra atualizar o blog porque tenho feito tudo realmente sozinho. Mas com paciência e bastante trabalho vou registrando as vivências com a intencão de manter um histórico que pode ser acessado por quem tiver interesse.
    <br><br>
    Gratidão!!
  </div>
</section>
