
<section class="section-padding bg-grey" itemprop="articleBody">
  <div class="post">
  Durante o mês de março de 2017 realizei a travessia, em bicicleta, de 6 estados do Nordeste Brasileiro - Maranhão, Piauí, Ceará, Rio Grande do Norte, Paraíba e Pernambuco.
</p>
  O mapa abaixo foi gerado a partir dos registros do strava, aplicativo que usei para registrar todos os trechos (travessias entre cidades) da viagem. É possível ver um espaço na linha vermelha, logo acima de Mossoró/RN e também é possível perceber que no início da viagem a linha começa já um pouco fora de São Luís/MA. Esses foram os 2 momentos que esqueci de ligar o aplicativo por razões bem diferentes, mas que me marcaram muito. Mesmo assim o mapa mostra com detalhes todas as estradas, ruas, cidades, povoados, desertos, matas, dunas e rios que passei e até as que me perdi…
</p>
  Todas postagens relacionadas com esse projeto estão listadas abaixo do mapa, da mais recente para a mais antiga.
</p>
  <p align="center">
    <iframe src="https://www.google.com/maps/d/embed?mid=1C4BxbsuyaMJ6w0KrrdSJvV_Xsvs" width="480" height="320"></iframe>
  </p>

  </div>
</section>
