/**
 * Letter Spacing
 */
%letter-spacing {
  font-family: $font-header;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

/**
 * Black Color Overlay
 */
%overlay {
  content: '';
  position: absolute;
  top: 0;
  left: 0;

  height: 100%;
  width: 100%;

  background-color: rgba($color-black, 0.2);
  transition: background-color 0.4s ease-in-out;
}

/**
 * Definicão de thumbnails da galeria de imagens.
 */
.thumbnails img {
  display: inline-block;
	height: 60px;
  width: 80px;
	border: 1px solid #555;
	padding: 0px;
	margin: 0 1px 1px 0;
}

.thumbnails img:hover {
	border: 1px solid #00ccff;
	cursor:pointer;
}

.preview img {
	border: 1px solid #444;
  padding: 0px;
  max-width:720px;
  max-height:480px;
  width: auto;
  height: auto;
}
